:root {
    /* style */
    --btt-icon-size: 1.25em;
}

.back-to-top {
    position: fixed;
    right: var(--space-md);
    bottom: var(--space-md);
    padding: var(--space-xs);
    z-index: var(--zindex-fixed-element);
    border-radius: var(--radius-md);
    background-color: #ccc;
    transition: 0.3s;
}

.back-to-top:hover {
    background-color: var(--color-contrast-higher);
}

.back-to-top .icon {
    display: block;
    color: var(--color-bg);
    width: var(--btt-icon-size);
    height: var(--btt-icon-size);
}

.js .back-to-top {
    visibility: hidden;
    opacity: 0;
}

.js .back-to-top--is-visible {
    visibility: visible;
    opacity: 1;
}