/*文章进度条样式*/
.reading-progressbar {
    position: fixed;
    z-index: var(--zindex-fixed-element);
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    color: var(--color-primary);
    pointer-events: none;
    display: none;
}

.reading-progressbar--is-active {
    display: block;
}

.reading-progressbar::-webkit-progress-bar {
    background-color: transparent;
}

.reading-progressbar::-webkit-progress-value {
    background-color: currentColor;
}

.reading-progressbar::-moz-progress-bar {
    background-color: currentColor;
}

.reading-progressbar__fallback {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: currentColor;
}

.reading-content {
    padding: var(--space-md);
}

.reading-progressbar__fallback {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: currentColor;
}

.reading-content {
    padding: var(--space-md);
}